<!DOCTYPE html>

<head>
   <meta charset="utf-8">
	<title>SmartPrice</title>
 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="static/css/base.css">
   <link rel="stylesheet" href="static/css/main.css">

   <!-- script
   ================================================== -->
	<script src="static/js/modernizr.js"></script>
</head>
<body id="top">
   <header>
   	<div class="row">
   		<div class="logo">
	         <a href="index.html">SmartPrice</a>
	      </div>

	   	<nav >
				<ul class="main-navigation">
					<li class="current"><a class="smoothscroll"  href="#">Home</a></li>
                    <li><a  href="{% url 'mobiles_page' %}" title="">Mobiles</a></li>
					<li><a   href="{% url 'motorcycles_page' %}" title="">Bikes</a></li>
					<li><a   href="{% url 'laptops_page' %}" title="">Laptops</a></li>
					<li><a   href="{% url 'cars_page' %}" title="">Cars</a></li>

				</ul>
			</nav>
   	</div>
   </header> <!-- /header -->
	<!-- intro section
   ================================================== -->
   <section id="intro">
   	<div class="shadow-overlay"></div>
   	<div class="intro-content">
   		<div class="row">
   			<div class="col-twelve">
                    <h2>SaveMoneyThroughPriceComparison</h2>
	   			<h2>Hello welcome to SmartPrice.</h2>
	   			<h3>Our awesome app will make your life a lot easier.</h3>
                <h3>An independent price comparison site</h3>
	   			<a class="button stroke smoothscroll" href="#process" title="">Learn More</a>
	   		</div>
   		</div>
   	</div>
   </section>
   <!-- features Section
   ================================================== -->
	<section id="features">

		<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

   			<h5>Features</h5>
   			<h1>Great features you'll love.</h1>

   			<h> Advantages of price comparison sites for customers</h>

   		</div>
   	</div>

   	<div class="row features-content">

   		<div class="features-list block-1-3 block-s-1-2 block-tab-full group">

	      	<div class="bgrid feature">

	            <div class="service-content">
	            	 <h3 class="h05">Get a great deal</h3>
		            <p>Price comparison sites don’t just provide lowest priced products.
                        They provide lowest priced products as per the criteria and filters you specify.
                        This is the biggest value proposition of Price monitoring websites.</p>

	         	</div>

				</div> <!-- /bgrid -->

				<div class="bgrid feature">

	            <div class="service-content">
	            	<h3 class="h05">Convenience</h3>
                <p>Price monitoring websites give a ready listing of all such suppliers and e-commerce portals all in one place, saving you a ton of time and effort in your search for great deals on the product you want to purchase online.</p>


	            </div>

			   </div> <!-- /bgrid -->

			   <div class="bgrid feature">

	            <div class="service-content">
	            	<h3 class="h05">Better coverage </h3>
                    <p> Did you know that there are many smaller yet equally exciting e-commerce stores that can offer you a much better deal?
                        Well, price comparison sites do know about these smaller players, and bring them to the forefront with their amazing deals.</p>
	            </div>

			   </div> <!-- /bgrid -->
				<div class="bgrid feature">
	            <div class="service-content">
	            	<h3 class="h05">Transparent offer (easy to buy)</h3>
                    <p>Selling products through a web shop make us face new challenges.
                        One factor to consider is that your price is transparent for the buyer, transparent in a sense that comparing sites can compare your offer with alternatives to be found online or even in physical shops.</p>
	            </div>

				</div> <!-- /bgrid -->

			   <div class="bgrid feature">

	            <div class="service-content">
	            	<h3 class="h05">Offering own products sets the difference</h3>
                    <p>Merchants who have their own brands or unique type of products will have a stronger position in the marketplace, increased chance to be compared on performance in combination with price, followed normally by higher sales figures and margins.
                       </p>
	            </div>

			   </div> <!-- /bgrid -->

			   <div class="bgrid feature">

	            <div class="service-content">
	            	 <h3 class="h05">Comparison sites save you time</h3>
	        			<p>Finding the best priced option can be very time consuming. Visiting each provider website, phoning customer support with questions, and trying to find the right information .
                            Price comparison websites gather all the information together in one place – so you can easily compare the options in one place.</p>
	            </div>

			   </div> <!-- /bgrid -->

	      </div> <!-- features-list -->

   	</div> <!-- features-content -->

	</section> <!-- /features -->


	<!-- pricing
   ================================================== -->



   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

   	<div class="row">
   		<div class="col-twelve">
   			<h2 class="h01">OUR DEVELOPERS.</h2>
   		</div>
   	</div>

      <div class="row flex-container">

         <div id="testimonial-slider" class="flexslider">

            <ul class="slides">

               <li>
               	<div class="testimonial-author">
                    	<img src="static/images/avatars/durga.jpeg" alt="Author image">
                    	<div class="author-info">
                    		S DURGA

                    		<span class="position">STUDENT ,AARM</span>
                    	</div>
                  </div>

                  <p>

                  </p>
             	</li> <!-- /slide -->

               <li>

               	<div class="testimonial-author">
                    	<img src="static/images/avatars/ANJUM.jpeg" alt="Author image">
                    	<div class="author-info">
                    		S ANJUM
                    		<span>STUDENT,aarm.</span>
                    	</div>
                  </div>

                  <p>

                  </p>

               </li> <!-- /slide -->
                <li>
               	<div class="testimonial-author">
                    	<img src="" alt="Author image">
                    	<div class="author-info">
                    		our guide
                            mrs.vijayalaxmi

                    		<span class="position">asst prof ,AARM</span>
                    	</div>
                  </div>

                  <p>

                  </p>
             	</li> <!-- /slide -->

            </ul> <!-- /slides -->

         </div> <!-- /testimonial-slider -->

      </div> <!-- /flex-container -->

   </section> <!-- /testimonials -->


   <!-- faq
   ================================================== -->
   <section id="faq">

   	<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

   			<h5>Faq</h5>
   			<h1>Questions and Answers.</h1>

   			<p class="lead">Some frequently asked questions and their answers</p>

   		</div>
   	</div>

   	<div class="row faq-content">

   		<div class="q-and-a block-1-2 block-tab-full group">

   			<div class="bgrid">

   				<h3>What is SmartPrice site?</h3>

   				<p>SmartPrice, also called comparison shopping website, are search engines or channels which shoppers use to filter products and collect information including product prices, product features, products reviews, shipping and delivery options, and other products criteria. </p>

   			</div>

   			<div class="bgrid">
            <h3>How do SmartPrice Site work?</h3>
                <p>SmartPrice site, take the requirement details from your side and then returns results based on your requirement. The user can then lock on his/ her selection based on the information, all presented in one place. SmartPrice is a one popular approach that has delivered immense value in today’s times is Real time price scrape services offered by specialist companies. Rather than going with a supply-collect form of revenue sharing, price comparison sites now enlist web crawling to automate the entire process of fetching right amount and right kind of targeted information.</p>
   			</div>

   			<div class="bgrid">

   			</div>

   			<div class="bgrid">


   			</div>

   			<div class="bgrid">

   			</div>

   		</div> <!-- /q-and-a -->

   	</div> <!-- /faq-content -->



		</div> <!-- /section-ads -->

   <!-- footer
   ================================================== -->
   <footer>

   	<div class="footer-main">

   		<div class="row">

	      	<div class="col-four tab-full mob-full footer-info">

	            <div class=""></div>

	            <p>
		        	AAR MAHAVEER ENG COLLEGE<br>
            	BANDLAGUDA HYDDERABAD 500059<br>
		        	s.kanakadurga@gmail.com &nbsp; +91 09177321015
                    <br>
                    shagufta anjum
                    7095669237
		        	</p>


   	</div> <!-- /footer-main -->


      <div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright SAVE MONEY THROUGH PRICE COMAPRISON 2016.</span>
		         	<span>Designed by <a href="http://www.styleshout.com/">S DURGA , S ANJUM</a></span>
		         </div>

		         <div id="go-top" style="display: block;">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
		         </div>
	      	</div>

      	</div> <!-- /footer-bottom -->

      </div>

   </footer>

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="static/js/jquery-1.11.3.min.js"></script>
   <script src="static/js/jquery-migrate-1.2.1.min.js"></script>
   <script src="static/js/plugins.js"></script>
   <script src="static/js/main.js"></script>

</body>

</html>